# Package management
node_modules/

# Environment detritus
.DS_Store

# Editor detritus
## IntelliJ/WebStorm
.idea

# Ephemera
*.log

# Tooling artifacts
.eslintcache
.turbo/
*.tsbuildinfo

# Build artifacts
dist/
dist-demo/
examples/**/dist
packages/**/dist

# Generated documentation
packages/*/api-docs

# Test artifcats
## Playwright, apparently
packages/*/playwright-report
packages/*/test-results

# Generated fixtures/etc
packages/**/test/**/fixtures/generated/**
