# Deep Directories
**/node_modules
**/dist
**/fixtures
!packages/xforms-engine/src/test/fixtures
**/vendor

# Directories
.github
.changeset

# Exclude Vue entirely. There are many conflicts with ESLint Vue rules, and some
# of those appear to affect behavior.
**/*.vue

# Exclude test Forms in Scenario package, most of which came from JavaRosa
packages/scenario/resources