# Deep Directories
**/node_modules
**/dist
**/vendor

# Fixtures
packages/common/src/fixtures/*/**
!packages/common/src/fixtures/README.md
!packages/common/src/fixtures/xforms.ts
packages/common/src/fixtures/test-javarosa/**
packages/common/src/fixtures/test-scenario/**

# Directories
.github
.changeset

# Exclude Vue. Formatting is handled by ESLint.
**/*.vue

# Exclude test Forms in Scenario package, most of which came from JavaRosa
packages/scenario/resources
