$primaryColor: #3e9fcc;
$primaryTextColor: #ffffff;
$accentColor: #ffffff;
$accentTextColor: #424242;

$primary50: #d8ecf5;

@import 'primevue-sass-theme/themes/material/material-light/standard/indigo/theme.scss';

// TODO maybe import icomoon here so if in future we can to introduce new theme with different iconset
// Don't know how much future theme will be different from this??

:root {
	--primary-50: #{$primary50};
}

.odk-form {
	width: 100%;
	background: var(--gray-200);

	.form-wrapper {
		max-width: 800px;
		margin: auto;
		padding-top: 10px;
		padding-bottom: 20px;

		label {
			font-weight: 400;

			span {
				// it is required asterisk - be more specific
				color: var(--red-500); // TODO maybe theme should export color of danger / error
			}
		}

		.footer {
			margin-top: 20px;

			button {
				min-width: 160px;
			}
		}

		.p-button.p-button-secondary {
			&:enabled:focus,
			&:enabled.p-focus {
				background: var(--primary-100);
			}

			&:enabled:hover {
				background: var(--primary-100);
			}

			&:enabled:active {
				background: $primary50;
			}
		}

		.p-button.p-button-outlined {
			box-shadow: inset 0 0 0 1px #cbcacc;
			// border: 2px solid #CBCACC;

			&:hover {
				background: var(--primary-100);
			}
		}

		.p-card {
			border-radius: 10px;
			border-top: 15px solid $primary50;
			box-shadow: 0px 1px 3px 1px #00000026;
		}

		.btn-add {
			margin-left: 35px;
		}

		// for all panels
		.p-panel {
			background: var(--surface-0);
			box-shadow: none;

			.p-panel {
				margin-left: -10px;
			}

			.p-panel-header {
				display: flex;
				padding: 0;
				height: 40px;
				align-items: start;
			}

			.p-panel-content {
				border-left: 2px solid var(--gray-200);
				margin-left: 10px;
				border-radius: 0;
				padding: 0 0 0 1.5rem;
			}

			.p-panel-toggler {
				display: none;
			}

			.panel-title {
				cursor: pointer;

				h2 {
					margin: 0;
					display: flex;
				}
			}

			.btn-context {
				margin-top: -10px;

				.p-button-icon {
					font-size: 1.5rem;
				}
			}

			.btn-add {
				margin-left: 25px;
			}

			.label-number {
				display: inline-block;
				margin: 2px 5px 0 17px;
				padding-top: 4px;
				width: 20px;
				height: 20px;
				font-weight: 400;
				border-radius: 30px;
				background-color: var(--gray-200);
				font-size: 10px;
				text-align: center;
			}
		}

		h1 {
			font-size: 1.5rem;
			font-weight: 500;
		}

		h2 {
			font-size: 1.2rem;
			font-weight: 500;
		}

		.p-dropdown.rounded {
			border-radius: 30px;
			border: none;
			width: 160px;
			color: #424242;

			&.p-focus {
				box-shadow: inset 0 0 0 1px var(--primary-500);
			}

			.p-dropdown-label {
				padding: 5px 16px;

				span {
					vertical-align: middle;
				}
			}

			&.with-icon {
				[class^='icon-'],
				[class*=' icon-'] {
					// font-size: 22px;
					margin-right: 10px;
				}
			}
		}

		.form-title {
			border-top: none;
			margin-top: 20px;

			.p-card-content {
				padding: 0 1rem;

				h1 {
					margin: 10px 0;
				}
			}
		}

		.questions-card {
			border-top: none;
			margin-top: 20px;

			.p-card-content {
				padding: 1rem;
			}
		}

		.odk-menu-bar {
			.p-button.p-button-icon-only.p-button-rounded {
				height: 2rem;
				width: 2rem;
			}
		}

		input.p-inputtext {
			&:read-only {
				cursor: not-allowed;
			}

			&.p-variant-filled:enabled:focus {
				background-color: var(--surface-100);
			}
		}
		.select1,
		.selectN {
			display: flex;
			align-items: center;

			label {
				margin-left: 0.5rem;
				margin-bottom: 0;
				cursor: pointer;
			}

			&.disabled,
			&.disabled label {
				cursor: not-allowed;
			}
		}
	}
}
