// As called by Designer
$odkBlue: #3e9fcc;
$lightBlue: #e9f8ff;
$lightGray: #cbcacc;
$textColour: #1b1b1f;
$hintText: #6d6d6d;
$errorText: #b3261e;
$errorLight: #ffedea;

// Override theme colors
$primaryColor: $odkBlue;
$primaryTextColor: #ffffff;
$accentColor: #ffffff;
$accentTextColor: #424242;
$primary50: $lightBlue;
$emphasis-high: $textColour;

@import 'primevue-sass-theme/themes/material/material-light/standard/indigo/theme.scss';

// TODO maybe import icomoon here so if in future we can to introduce new theme with different iconset
// Don't know how much future theme will be different from this??

:root {
	--primary-50: #{$primary50};
	--text-color: #{$textColour};
	--light-elevation-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
	--surface-300: #{$lightGray};
}
