@font-face {
	font-family: 'owf-icomoon';
	src:
		url('/fonts/icomoon.ttf?d2anc2') format('truetype'),
		url('/fonts/icomoon.woff?d2anc2') format('woff'),
		url('/fonts/icomoon.svg?d2anc2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'owf-icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add_circle:before {
	content: '\e900';
}
.icon-clear:before {
	content: '\e901';
}
.icon-create:before {
	content: '\e902';
}
.icon-gps_fixed:before {
	content: '\e903';
}
.icon-cloud_upload:before {
	content: '\e904';
}
.icon-file_download:before {
	content: '\e905';
}
.icon-file_upload:before {
	content: '\e906';
}
.icon-keyboard_arrow_down:before {
	content: '\e907';
}
.icon-keyboard_arrow_left:before {
	content: '\e908';
}
.icon-keyboard_arrow_right:before {
	content: '\e909';
}
.icon-keyboard_arrow_up:before {
	content: '\e90a';
}
.icon-local_printshop:before {
	content: '\e90b';
}
.icon-arrow_drop_down:before {
	content: '\e90c';
}
.icon-arrow_drop_up:before {
	content: '\e90d';
}
.icon-more_vert:before {
	content: '\e90e';
}
.icon-delete:before {
	content: '\e90f';
}
.icon-info:before {
	content: '\e910';
}
.icon-language:before {
	content: '\e911';
}
.icon-search:before {
	content: '\e912';
}
.icon-calendar_today:before {
	content: '\e913';
}
.icon-repeat:before {
	content: '\e914';
}
.icon-menu:before {
	content: '\e915';
}
.icon-check:before {
	content: '\e916';
}
