body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	line-height: 1.15rem;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
	height: 100vh;
}

*,
::before,
::after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6,
b, strong {
	font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
	font-size: 1rem;
}

small {
	font-size: 80%;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: none;
	background: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}

:focus-visible {
	outline: 1px solid #3e9fcc;
	outline-offset: 1px;
}
