.value-option {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	outline: 1px solid var(--odk-border-color);
	border-radius: var(--odk-radius);
	padding: 12px;
	cursor: pointer;
	background: var(--odk-base-background-color);
	overflow: hidden;

	&:has(.p-checkbox-input:hover),
	&:has(.p-checkbox-input:focus-visible),
	&:has(.p-radiobutton-input:hover),
	&:has(.p-radiobutton-input:focus-visible) {
		outline-color: var(--odk-primary-border-color);
		background-color: var(--odk-primary-light-background-color);
	}

	:deep(.p-radiobutton:not(.p-disabled):has(.p-radiobutton-input:focus-visible)),
	:deep(.p-radiobutton:not(.p-disabled):has(.p-radiobutton-input:hover)) {
		box-shadow: none;
	}

	&:deep(:has(.p-radiobutton-input:focus-visible)),
	&:hover {
		outline-color: var(--odk-primary-border-color);
		background-color: var(--odk-primary-lighter-background-color);
	}

	&.active {
		outline: 2px solid var(--odk-primary-border-color);
		background-color: var(--odk-primary-lighter-background-color);
	}

	&.disabled,
	&.disabled label {
		cursor: not-allowed;
	}

	:deep(.media-content) {
		flex-basis: 100%;
	}

	&:has(.media-content) {
		padding: 0;

		:deep(.p-checkbox),
		:deep(.p-radiobutton) {
			margin: auto 0 auto 20px;
			align-self: flex-start;
		}

		:deep(.text-content) {
			margin: 15px 20px;
			max-width: calc(100% - 70px);
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.value-option.no-buttons {
	:deep(.p-checkbox),
	:deep(.p-radiobutton) {
		opacity: 0;
		width: 0; /* Radio or checkbox button isn't visible */
		margin: 0;
	}
}

.value-option:not(.no-buttons) {
	:deep(.text-content) {
		margin-left: 10px;
	}
}
