name: Web Forms E2E Tests

on:
  workflow_call:

jobs:
  web-forms-e2e-functional:
    name: '@getodk/web-forms (functional e2e)'
    runs-on: 'ubuntu-latest'

    strategy:
      fail-fast: false
      matrix:
        node-version: ['22.12.0']
        browser: [chromium, firefox, webkit]

    steps:
      - uses: 'actions/checkout@v4'

      - uses: 'volta-cli/action@v4'
        with:
          node-version: '${{ matrix.node-version }}'
          yarn-version: '1.22.22'

      - uses: 'actions/cache@v4'
        id: cache-install
        with:
          path: |
            node_modules
            **/node_modules
          key: install-${{ matrix.node-version }}-${{ hashFiles('yarn.lock', '.github/workflows/ci.yml', 'examples/*/yarn.lock', 'packages/*/package.json', 'packages/*/yarn.lock') }}
          fail-on-cache-miss: true

      - uses: 'actions/cache@v4'
        id: cache-build
        with:
          path: |
            examples/*/dist
            packages/*/dist
            packages/web-forms/dist-demo
          key: build-${{ matrix.node-version }}-${{ github.sha }}
          fail-on-cache-miss: true

      - run: 'yarn playwright install ${{ matrix.browser }} --with-deps'

      - name: 'Run functional e2e tests'
        run: 'yarn workspace @getodk/web-forms test:e2e:functional:${{ matrix.browser }}'

      - name: 'Upload Playwright results'
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-results-functional-${{ matrix.browser }}
          path: packages/web-forms/test-results
          retention-days: 10
          if-no-files-found: ignore

  web-forms-e2e-visual:
    name: '@getodk/web-forms (visual e2e)'
    runs-on: 'ubuntu-latest'

    strategy:
      fail-fast: false
      matrix:
        node-version: ['22.12.0']
        browser: [chromium, firefox, webkit]

    steps:
      - uses: 'actions/checkout@v4'

      - uses: 'volta-cli/action@v4'
        with:
          node-version: '${{ matrix.node-version }}'
          yarn-version: '1.22.22'

      - uses: 'actions/cache@v4'
        id: cache-install
        with:
          path: |
            node_modules
            **/node_modules
          key: install-${{ matrix.node-version }}-${{ hashFiles('yarn.lock', '.github/workflows/ci.yml', 'examples/*/yarn.lock', 'packages/*/package.json', 'packages/*/yarn.lock') }}
          fail-on-cache-miss: true

      - uses: 'actions/cache@v4'
        id: cache-build
        with:
          path: |
            examples/*/dist
            packages/*/dist
            packages/web-forms/dist-demo
          key: build-${{ matrix.node-version }}-${{ github.sha }}
          fail-on-cache-miss: true

      - run: 'yarn playwright install ${{ matrix.browser }} --with-deps'

      # xvfb-run is used for visual tests to compare snapshots more accurately.
      - name: 'Run visual e2e tests'
        run: 'xvfb-run --auto-servernum yarn workspace @getodk/web-forms test:e2e:visual:${{ matrix.browser }}'

      - name: 'Upload Playwright results'
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-results-visual-${{ matrix.browser }}
          path: packages/web-forms/test-results
          retention-days: 10
          if-no-files-found: ignore
